{% extends 'MyFuckinJobSiteBundle::layout.html.twig' %}

{% block content %}
    <h2><span class="fui-plus"></span> Inscription</h2>
    <div class="offset1">
        <form action="{{ path('inscription_recruteur') }}"  method="post" id="inscription" novalidate="novalidate">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_widget(form.name,{'attr' : { 'class': 'form-control' }}) }}
                        <span class="input-icon fui-new"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_widget(form.email,{'attr' : { 'class': 'form-control' }}) }}
                        <span class="input-icon fui-mail"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_widget(form.password.mdp,{'attr' : { 'class': 'form-control' }}) }}
                        <span class="input-icon fui-lock"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_widget(form.password.mdp_conf,{'attr' : { 'class': 'form-control' }}) }}
                        <span class="input-icon fui-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.tel,{'attr' : { 'class': 'form-control' }}) }}
                        <span class="input-icon fui-volume"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.ville,{'attr' : { 'class': 'form-control', 'value' : app.session.get('place') }}) }}
                        <span class="input-icon fui-location"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <label class="checkbox checked" for="checkbox2">
                        <span class="icons">
                            <span class="first-icon fui-checkbox-unchecked"></span>
                            <span class="second-icon fui-checkbox-checked"></span>
                        </span>
                        {{ form_widget(form.cgu,{'attr' : { 'data-toggle': 'checkbox' }}) }}
                        J'accepte les CGU
                    </label>
                    <button data-loading-text="Loading..."  type="submit" class="btn btn-block btn-lg btn-primary">
                        Je m'inscris
                    </button>
                </div>
            </div>
            {#{{ form_rest(form) }}#}
        </form>
    </div>
{% endblock %}




{#Css And JS Files#}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@MyFuckinJobSiteBundle/Resources/public/css/sass/index.sass' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MyFuckinJobSiteBundle/Resources/public/js/coffee/inscription-recruteur.coffee' filter='closure' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{#End Css And JS Files#}


